Repository napalm-automation/napalm-logs, pull requests merged in 2018-04, with the labels that each got.

#220 Junos isis parsers
  napalm_logs/config/junos/ISIS_NEIGHBOR_DOWN.yml
  napalm_logs/config/junos/ISIS_NEIGHBOR_UP.yml
  tests/config/junos/ISIS_NEIGHBOR_DOWN/default/syslog.msg
  tests/config/junos/ISIS_NEIGHBOR_DOWN/default/yang.json
  tests/config/junos/ISIS_NEIGHBOR_UP/default/syslog.msg
  tests/config/junos/ISIS_NEIGHBOR_UP/default/yang.json
Labels: enhancement, junos, message

#221 Build Docker container and publish on napalm-logs release
  .gitignore
  .travis.yml
  MANIFEST.in
  VERSION
  docker/Makefile
  docker_push.sh
  napalm_logs/base.py
  napalm_logs/config/junos/INTERFACE_MAC_LIMIT_REACHED.yml
  napalm_logs/config/junos/OSPF_NEIGHBOR_DOWN.yml
  napalm_logs/config/junos/OSPF_NEIGHBOR_UP.yml
  napalm_logs/config/nxos/USER_LOGIN.py
  napalm_logs/config/nxos/__init__.py
  napalm_logs/device.py
  napalm_logs/pub_proxy.py
  napalm_logs/publisher.py
  napalm_logs/server.py
  setup.py
  tests/auth.py.bak
  tests/config/junos/ISIS_NEIGHBOR_DOWN/default/yang.json
  tests/config/junos/ISIS_NEIGHBOR_UP/default/yang.json
  tests/test_config.py
  tox.ini
Labels: docker, enhancement, tests

#223 A little trick that can be used when defining a new profile
  tests/test_config.py
Labels: enhancement, tests

#224 Prepare release 0.5.0b1
  .gitignore
  .travis.yml
  MANIFEST.in
  VERSION
  docker/Makefile
  docker_push.sh
  napalm_logs/base.py
  napalm_logs/config/junos/BPDU_BLOCK_INTERFACE_DISABLED.yml
  napalm_logs/config/junos/INTERFACE_DOWN.yml
  napalm_logs/config/junos/INTERFACE_MAC_LIMIT_REACHED.yml
  napalm_logs/config/junos/ISIS_NEIGHBOR_DOWN.yml
  napalm_logs/config/junos/ISIS_NEIGHBOR_UP.yml
  napalm_logs/config/junos/OSPF_NEIGHBOR_DOWN.yml
  napalm_logs/config/junos/OSPF_NEIGHBOR_UP.yml
  napalm_logs/config/nxos/USER_LOGIN.py
  napalm_logs/config/nxos/__init__.py
  napalm_logs/device.py
  napalm_logs/pub_proxy.py
  napalm_logs/publisher.py
  napalm_logs/server.py
  setup.py
  tests/auth.py.bak
  tests/config/junos/ISIS_NEIGHBOR_DOWN/default/syslog.msg
  tests/config/junos/ISIS_NEIGHBOR_DOWN/default/yang.json
  tests/config/junos/ISIS_NEIGHBOR_UP/default/syslog.msg
  tests/config/junos/ISIS_NEIGHBOR_UP/default/yang.json
  tests/test_config.py
  tox.ini
Labels: release

#226 Sometimes the interface may have a description on newer EOS versions
  napalm_logs/config/eos/INTERFACE_UP.yml
  tests/config/eos/INTERFACE_UP/consistency_ftw/syslog.msg
  tests/config/eos/INTERFACE_UP/consistency_ftw/yang.json
Labels: bug, eos
