Repository napalm-automation/napalm-logs, pull requests merged in 2018-12, with the labels that each got.

#285 parse JunOS FPC logs
  napalm_logs/config/junos/init.yml
Labels: enhancement, junos, profile

#284 parse JunOS SRX logs without a source NAT rule name
  napalm_logs/config/junos/NAT_SESSION_CLOSED.yml
  napalm_logs/config/junos/NAT_SESSION_CREATED.yml
  tests/config/junos/NAT_SESSION_CLOSED/icmp/syslog.msg
  tests/config/junos/NAT_SESSION_CLOSED/icmp/yang.json
  tests/config/junos/NAT_SESSION_CREATED/icmp/syslog.msg
  tests/config/junos/NAT_SESSION_CREATED/icmp/yang.json
Labels: bug, junos, message

#281 New device configuration for Opengear console servers.
  .gitignore
  examples/client_no_auth.py
  napalm_logs/config/opengear/AUTORESPONSE.yml
  napalm_logs/config/opengear/RXDATA.yml
  napalm_logs/config/opengear/SIGNAL.yml
  napalm_logs/config/opengear/USER_LOGIN.yml
  napalm_logs/config/opengear/USER_LOGOUT.yml
  napalm_logs/config/opengear/init.yml
  tests/config/opengear/AUTORESPONSE/default/syslog.msg
  tests/config/opengear/AUTORESPONSE/default/yang.json
  tests/config/opengear/RXDATA/default/syslog.msg
  tests/config/opengear/RXDATA/default/yang.json
  tests/config/opengear/SIGNAL/default/syslog.msg
  tests/config/opengear/SIGNAL/default/yang.json
  tests/config/opengear/USER_LOGIN/default/syslog.msg
  tests/config/opengear/USER_LOGIN/default/yang.json
  tests/config/opengear/USER_LOGOUT/default/syslog.msg
  tests/config/opengear/USER_LOGOUT/default/yang.json
Labels: message, opengear, profile
