Repository napalm-automation/napalm-logs, pull requests merged in 2018-05, with the labels that each got.

#228 Adding a couple of new messages for NX-OS, and support for a different message format
  napalm_logs/config/nxos/INTERFACE_DOWN.yml
  napalm_logs/config/nxos/INTERFACE_DUPLEX_MODE.yml
  napalm_logs/config/nxos/INTERFACE_UP.yml
  napalm_logs/config/nxos/__init__.py
  tests/config/nxos/INTERFACE_DOWN/default/syslog.msg
  tests/config/nxos/INTERFACE_DOWN/default/yang.json
  tests/config/nxos/INTERFACE_DOWN/individual_port_down/syslog.msg
  tests/config/nxos/INTERFACE_DOWN/individual_port_down/yang.json
  tests/config/nxos/INTERFACE_DUPLEX_MODE/default/syslog.msg
  tests/config/nxos/INTERFACE_DUPLEX_MODE/default/yang.json
  tests/config/nxos/INTERFACE_UP/mode_trunk/syslog.msg
  tests/config/nxos/INTERFACE_UP/mode_trunk/yang.json
Labels: enhancement, message, needs documentation, nxos, profile

#227 Change the location of the napalm-logs config file in the Docker container
  docker/Dockerfile
Labels: behaviour change, docker, needs documentation

#230 Release 0.5.0 doc
  docs/releases/0.5.0.rst
  docs/releases/index.rst
Labels: release

#229 Version 0.5.0
  VERSION
Labels: release

#231 Merge develop into master, preparing release 0.5.0
  VERSION
  docker/Dockerfile
  docs/releases/0.5.0.rst
  docs/releases/index.rst
  napalm_logs/config/eos/INTERFACE_UP.yml
  napalm_logs/config/ios/INTERFACE_DOWN.yml
  napalm_logs/config/ios/OSPF_NEIGHBOR_DOWN.yml
  napalm_logs/config/ios/OSPF_NEIGHBOR_UP.yml
  napalm_logs/config/ios/init.yml
  napalm_logs/config/nxos/INTERFACE_DOWN.yml
  napalm_logs/config/nxos/INTERFACE_DUPLEX_MODE.yml
  napalm_logs/config/nxos/INTERFACE_UP.yml
  napalm_logs/config/nxos/__init__.py
  tests/config/eos/INTERFACE_UP/consistency_ftw/syslog.msg
  tests/config/eos/INTERFACE_UP/consistency_ftw/yang.json
  tests/config/ios/INTERFACE_DOWN/default/syslog.msg
  tests/config/ios/INTERFACE_DOWN/default/yang.json
  tests/config/ios/OSPF_NEIGHBOR_DOWN/init_to_down/syslog.msg
  tests/config/ios/OSPF_NEIGHBOR_DOWN/init_to_down/yang.json
  tests/config/ios/OSPF_NEIGHBOR_UP/loading_to_full/syslog.msg
  tests/config/ios/OSPF_NEIGHBOR_UP/loading_to_full/yang.json
  tests/config/nxos/INTERFACE_DOWN/default/syslog.msg
  tests/config/nxos/INTERFACE_DOWN/default/yang.json
  tests/config/nxos/INTERFACE_DOWN/individual_port_down/syslog.msg
  tests/config/nxos/INTERFACE_DOWN/individual_port_down/yang.json
  tests/config/nxos/INTERFACE_DUPLEX_MODE/default/syslog.msg
  tests/config/nxos/INTERFACE_DUPLEX_MODE/default/yang.json
  tests/config/nxos/INTERFACE_UP/mode_trunk/syslog.msg
  tests/config/nxos/INTERFACE_UP/mode_trunk/yang.json
Labels: release

#234 Add Docker documentation
  docs/docker/index.rst
  docs/index.rst
Labels: docker, documentation

#238 Adapt syslog message format for messages with synchronised clock on IOS
  napalm_logs/config/ios/init.yml
  tests/config/ios/INTERFACE_DOWN/time_synchronized/syslog.msg
  tests/config/ios/INTERFACE_DOWN/time_synchronized/yang.json
Labels: bug, ios

#236 implements #160 - prometheus metrics
  docs/index.rst
  docs/metrics/index.rst
  docs/options/index.rst
  napalm_logs/__init__.py
  napalm_logs/base.py
  napalm_logs/config/__init__.py
  napalm_logs/device.py
  napalm_logs/listener_proc.py
  napalm_logs/publisher.py
  napalm_logs/scripts/cli.py
  napalm_logs/server.py
  requirements.txt
Labels: core, feature, prometheus

#243 Config for IOS configured_from added
  napalm_logs/config/ios/USER_EXIT_CONFIG_MODE.yml
  tests/config/ios/USER_EXIT_CONFIG_MODE/bootstrap/syslog.msg
  tests/config/ios/USER_EXIT_CONFIG_MODE/bootstrap/yang.json
  tests/config/ios/USER_EXIT_CONFIG_MODE/default/syslog.msg
  tests/config/ios/USER_EXIT_CONFIG_MODE/default/yang.json
Labels: ios, message, pending discussion

#245 Allow message to match on multiple OS
  napalm_logs/listener/kafka.py
  napalm_logs/listener/zeromq.py
  napalm_logs/server.py
  napalm_logs/transport/kafka.py
  tests/test_config.py
Labels: bug, core

#241 Brocade netiron BGP state changes
  napalm_logs/config/netiron/BGP_NEIGHBOR_STATE_CHANGED.yml
  napalm_logs/config/netiron/init.yml
  tests/config/netiron/BGP_NEIGHBOR_STATE_CHANGED/established_to_idle_no_vrf/syslog.msg
  tests/config/netiron/BGP_NEIGHBOR_STATE_CHANGED/established_to_idle_no_vrf/yang.json
  tests/config/netiron/BGP_NEIGHBOR_STATE_CHANGED/established_to_idle_with_vrf/syslog.msg
  tests/config/netiron/BGP_NEIGHBOR_STATE_CHANGED/established_to_idle_with_vrf/yang.json
  tests/config/netiron/BGP_NEIGHBOR_STATE_CHANGED/idle_to_established_no_vrf/syslog.msg
  tests/config/netiron/BGP_NEIGHBOR_STATE_CHANGED/idle_to_established_no_vrf/yang.json
  tests/config/netiron/BGP_NEIGHBOR_STATE_CHANGED/idle_to_established_with_vrf/syslog.msg
  tests/config/netiron/BGP_NEIGHBOR_STATE_CHANGED/idle_to_established_with_vrf/yang.json
Labels: message, netiron, profile
